# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.flaskenv

# Databases
*.db
mlflow.db

# MLflow
mlruns/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Project specific
backend/__pycache__/
frontend/__pycache__/
node_modules/
dist/
build/
*.log
